/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------------------------------------------------------------
--------------------------------------End of CSS Reset section-----------------------------------------
-------------------------------------------------------------------------------------------------------*/
:root {
    --panel-1-bg: hsl(263, 55%, 52%);
    --panel-2-bg: hsl(217, 19%, 35%);
    --panel-3-5-bg: hsl(0, 0%, 100%);
    --panel-4-bg: hsl(219, 29%, 14%);
    --white-font: hsl(0, 0%, 100%);
    --testimonial-bg: hsl(210, 46%, 95%);
    --avatar-1-border: rgba(255, 255, 255, 0.5);
    --avatar-2-border: rgba(72, 85, 106, .5);
    --avatar-3-5-border: rgba(255, 255, 255, 0.5);
}

html {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

.testimonials {
    display: grid;
    background-color: var(--testimonial-bg);
    max-width: 100%;

}

.panel {
    display: grid;
    border-radius: 3%;
    padding: 0 1.1rem 2.5rem;
    margin: 0 1.5rem 1.5rem;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);


}

.first.panel {
    margin-top: 3rem;
}

.avatar {
    width: 1.9rem;
    border-radius: 50%;
    border: 1px solid;
    margin-right: 1rem;
    margin-top: -.25rem;
    border: 3px solid;
}

.first.avatar {
    color: var(--avatar-1-border);
}

.second.avatar {
    color: var(--avatar-2-border);
}

.third.avatar {
    color: var(--avatar-3-5-border);
}

.fourth.avatar {
    color: var(--panel-1-bg);
}

.fifth.avatar {
    color: var(--avatar-3-5-border);
}

.title-block {
    display: grid;
    grid-template-areas:
        "left right";
    grid-template-columns: 3fr 1fr;
}


span {
    opacity: 50%;
    clear: both;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

.left {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    font-size: 1rem;
}

.first.summary {
    margin-top: -2em;
}

p {
    font-size: 1rem;
    padding: 1.2rem 0 1rem;
    letter-spacing: .05rem;
    font-weight: 500;
    line-height: 1.1em;
}

blockquote {
    opacity: 70%;
    font-size: .8rem;
    line-height: 1.1em;
    letter-spacing: .05rem;
}

blockquote:first-of-type {
    grid-row: 5/8;
}

.panel:nth-child(1) {
    background-color: var(--panel-1-bg);
    color: hsl(0, 0%, 100%);
    display: grid;
}

.panel:nth-child(2) {
    background-color: var(--panel-2-bg);
    color: hsl(0, 0%, 100%);
    display: grid;
}

.panel:nth-child(3),
.panel:nth-child(5) {
    background-color: var(--panel-3-5-bg);
    color: hsl(219, 29%, 14%);
    display: grid;
}

.panel:nth-child(4) {
    background-color: var(--panel-4-bg);
    color: hsl(0, 0%, 100%);
    display: grid;
}


.avatar:nth-child(4) {
    color: rgb(117, 65, 200);
    grid-area: fourth;
}

.attribution {
    font-size: 11px;
    text-align: center;
    max-width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 769px) {
    .testimonials {
        grid-gap: 15px;
        grid-template-areas:
            "first first first second fifth"
            "third fourth fourth fourth fifth";
        padding: 5% 6%;
        margin: 3%;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }

    .panel {
        padding-bottom: 1rem;
        margin: 0;
    }

    .first.panel {
        grid-column: 1 / 4;
        grid-row: 1 /2;
        max-width: 100%;
        height: auto;
    }

    .second.panel {
        grid-column: 4/ 5;
        max-width: 100%;
        margin-top: 3rem;
    }

    .third.panel {
        grid-row: 2 /3;
        grid-column: 1/2;
        max-width: 100%;

    }

    .fourth.panel {
        grid-row: 2 /3;
        grid-column: 2/5;
        max-width: 100%;
    }

    .fifth.panel {
        grid-row: 1 / 3;
        grid-column: 5/ 6;
        max-width: 100%;
        margin-top: 3rem;
    }

    p {
        margin-top: 0;
        font-size: 1.5rem;
    }

    blockquote {
        font-size: 1rem;
    }
}